#tinymce h1 {
  text-transform: uppercase !important;
  font-size: 48px !important;
  font-weight: 600 !important;
  font-family: sans-serif !important;
}
#tinymce h2 {
  font-size: 24px !important;
  font-weight: 600 !important;
  font-family: sans-serif !important;
}
#tinymce h3 {
  text-transform: uppercase !important;
  font-weight: 600 !important;
  font-family: sans-serif !important;
}