{# 404 #}

{% extends "core/base.html.twig" %}

{% block main %}

  {% embed "layout/section.html.twig" %}

    {% block section %}

      <h1>404</h1>
      <a href="{{ site.link }}">home</a>

    {% endblock %}
    
  {% endembed %}

{% endblock %}
