{# About page #}

{% extends "core/base.html.twig" %}

{% set main_class = ['header-offset'] %}

{% block main %}

  {% embed "layout/section.html.twig" with {
    container_class : ["flex flex-col"]
  } %}

    {% block section %}

      <style>
      .text-wrapper, .anime-wrapper {
        position: relative;
        display: block;
        overflow: hidden;
        line-height: 1em;
      }

      .anime-text {
        transform-origin: 0 100%;
        display: block;
        line-height: 1em;
      }

      .anime-text::before {
        position: relative;
        top: 0;
        left: 0;
        right: auto;
        bottom: auto;
        /* content: 'anime animation let\'s see how it wraps'; */
        background: red;
      }
      </style>

      <div class="anime-wrapper text-5xl max-w-xs">
        <span class="text-wrapper">
          <span class="anime-text">
            anime animation let's see how it wraps
          </span>
        </span>
      </div>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis nulla unde repellat facere in nesciunt, repudiandae cum ea, obcaecati assumenda et optio, eius ipsam molestias vero! Sapiente laboriosam repudiandae ipsam.
      </div>

    {% endblock %}

  {% endembed %}

{% endblock %}
