{# Default page #}

{% extends "core/base.html.twig" %}

{% block main %}

  {% embed "layout/section.html.twig" with { 
    section_class: ['bg-gray-400', 'h-screen']
  } %}

    {% block section %}

      <div class="hero header-offset">
        <h1>{{ site.title }}</h1>
      </div>

    {% endblock %}

  {% endembed %}


  {% for post in posts %}

    {% embed "layout/section.html.twig" %}

      {% block section %}

        <a href="{{ post.link }}">
          <h2>{{ post.title }}</h2>
        </a>

      {% endblock %}

    {% endembed %}

  {% endfor %}

{% endblock %}
