<article class="container section post-{{ post.post_type }}" id="post-{{ post.ID }}">
  <div class="row">
    <div class="col">
      <div class="col-content bg-grey-light">
        {% block content %}
          <h2 class="h2">
            {{ post.title }}
          </h2>
          <p>{{ post.content }}</p>
          <button class="button">Read more</button>
        {% endblock %}
      </div>
    </div>
  </div>
</article>
