{% extends "core/base.html.twig" %}

{% block main %}

  {% embed "layout/section.html.twig" %}

    {% block section %}

      <h2>{{ post.title }}</h2>
      <p>{{ post.content }}</p>

    {% endblock %}

  {% endembed %}

{% endblock %}
