{% embed "layout/section.html.twig" with {
  section_tag : "footer",
  section_class: ['header-main', 'bg-gray-900', 'text-gray-600']
} %}

  {% block footer %}

    {% if footer_widget %}
      
      <p>{{ footer_widget.footer_text }}</p>

    {% else %}
      
      <p>&copy; {{ "now"|date("Y") }}</p>

    {% endif %}

  {% endblock %}

{% endembed %}
