{% embed "layout/section.html.twig" with {
  section_tag : "header",
  section_class: ['header-main', 'bg-gray-lighter', 'flex', 'items-end']
} %}

  {% block header %}

    <nav id="nav-main" class="nav-main flex justify-between items-center" role="navigation">
      <div class="branding">
        <a href="{{ site.link }}">
        <span class="font-bold text-xl uppercase tracking-widest">{{ site.title }}</span>
        </a>
      </div>
      <div class="menu flex">
        {% include "components/menu.html.twig" with {
          "menu" : menu.get_items
        } %}
        <a href="#footer" class="footer-toggle ml-4">footer</a>
      </div>

    </nav>

  {% endblock %}

{% endembed %}
