{% if menu %}
	<ul class="list-reset my-8">
	{% for item in menu %}
		<li class="{{ item.classes | join(' ') }}">
			<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			{% include 'partials/menu.html.twig' with {'menu': item.get_children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}