html ,
body {
  @apply text-black bg-white font-sans;
}

.header-main {
  @apply fixed w-full flex items-center;
}

.main-wrapper {
  @apply bg-white min-h-screen relative;
  flex: 1 0 auto;
}

.footer-main {
  @apply absolute w-full;
  flex-shrink: 0;
}

.footer-overflow-background {
  @apply z-0 fixed w-full bottom-0;
  height: 50vh;
}

a,
a:active,
a:focus,
a:visited {
  @apply no-underline;
  color: inherit;
}

a:hover {
  @apply underline;
}
