@font-face {
  font-family: 'Geometric706BT-BlackB';
  font-weight: 700;
  src: url('../fonts/Geometric_706_BT/Geometric_706_Black_BT.eot?') format('eot'),
       url('../fonts/Geometric_706_BT/Geometric_706_Black_BT.woff2') format('woff2'),
       url('../fonts/Geometric_706_BT/Geometric_706_Black_BT.woff') format('woff'),
       url('../fonts/Geometric_706_BT/Geometric_706_Black_BT.ttf')  format('truetype'),
       url('../fonts/Geometric_706_BT/Geometric_706_Black_BT.svg#Geometric706BT-BlackB') format('svg');
}

@font-face {
  font-family: 'Geometric706BT-MediumB';
  font-weight: 400;
  src: url('../fonts/Geometric_706_BT/Geometric_706_Medium_BT.eot?') format('eot'),
       url('../fonts/Geometric_706_BT/Geometric_706_Medium_BT.woff2') format('woff2'),
       url('../fonts/Geometric_706_BT/Geometric_706_Medium_BT.woff') format('woff'),
       url('../fonts/Geometric_706_BT/Geometric_706_Medium_BT.ttf')  format('truetype'),
       url('../fonts/Geometric_706_BT/Geometric_706_Medium_BT.svg#Geometric706BT-MediumB') format('svg');
}

@font-face {
  font-family: 'ProximaNova-SemiBold';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/ProximaNova/ProximaNova-Sbold.eot?') format('eot'),
       url('../fonts/ProximaNova/ProximaNova-Sbold.woff2') format('woff2'),
       url('../fonts/ProximaNova/ProximaNova-Sbold.woff') format('woff'),
       url('../fonts/ProximaNova/ProximaNova-Sbold.otf')  format('opentype'),
       url('../fonts/ProximaNova/ProximaNova-Sbold.ttf')  format('truetype'),
       url('../fonts/ProximaNova/ProximaNova-Sbold.svg#ProximaNova-Reg') format('svg');
}

@font-face {
  font-family: 'ProximaNova-SemiBold';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/ProximaNova/ProximaNova-SboldIt.eot?') format('eot'),
       url('../fonts/ProximaNova/ProximaNova-SboldIt.woff2') format('woff2'),
       url('../fonts/ProximaNova/ProximaNova-SboldIt.woff') format('woff'),
       url('../fonts/ProximaNova/ProximaNova-SboldIt.otf')  format('opentype'),
       url('../fonts/ProximaNova/ProximaNova-SboldIt.ttf')  format('truetype'),
       url('../fonts/ProximaNova/ProximaNova-SboldIt.svg#ProximaNova-Reg') format('svg');
}
