$section-space: 16;
$gutter: 4;
$column-space: 4;
$site-gutter: 4;

.container {
    @apply max-w-5xl mx-auto px-#{$site-gutter};
}

.section {
    @apply my-#{$section-space};
}

.row {
    @apply flex -mx-#{$gutter};
}

.col {
    @apply px-#{$gutter};

    &-content {
        @apply p-#{$column-space};
    }
}