/* grid */
$section-offset: 48px;
$gutter: 32px;
$site-max-width: 100rem;
$site-offset: 32px;
/* easing */
$easeCircOut: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeCircIn: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$easeCircInOut: cubic-bezier(0.785, 0.135, 0.15, 0.86);
/* timing */
$short: 300ms;
$medium: 600ms;
$long: 900ms;
/* elements */
$header-height: calc($site-offset + 2rem);