{# About page #}

{% extends "partials/base.html.twig" %}

{% block main %}

  <h1>About</h1>

  {% for post in posts %}
    {% include ['posts/post-'~post.post_type~'.twig', 'posts/post.html.twig'] %}
  {% endfor %}

{% endblock %}
