{# About page #}

{% extends "core/base.html.twig" %}

{% block main %}

  {% embed "layout/section.html.twig" %}

    {% block section %}

      <div id="app"></div>

    {% endblock %}
    
  {% endembed %}

{% endblock %}

{% block scripts %}

  <script src="{{ theme.link }}/js/app.js"></script>

{% endblock %}