{# About page #}

{% extends "core/base.html.twig" %}

{% set main_class = [] %}

{% block main %}
  <script src="http://192.168.188.21:8098"></script>


  {% embed "layout/section.html.twig" %}

    {% block section %}

      <div id="app"></div>

    {% endblock %}
    
  {% endembed %}

{% endblock %}

{% block scripts %}

  <script src="{{ theme.link }}/js/app.js"></script>

{% endblock %}