{# Sample page #}

{% extends "core/base.html.twig" %}

{% block main %}

  {% embed "layout/section.html.twig" %}

    {% block section %}

      <h2>{{ page.title }}</h2>
      <p>{{ page.content }}</p>

    {% endblock %}
    
  {% endembed %}

{% endblock %}
