{# Sample page #}

{% extends "core/base.html.twig" %}

{% block main %}

  {% embed "layout/section.html.twig" %}

    {% block section %}

      <div class="row">
        <div class="col w-full md:w-6/12">
          {% include "components/image.html.twig" with {
            figure_class : ["portrait"],
            image: page.thumbnail,
            size: "portrait-50vw"
          } %}
        </div>
        <div class="col w-full md:w-6/12">
          <h2>{{ page.title }}</h2>
          <p>{{ page.content }}</p>
        </div>
      </div>

    {% endblock %}

  {% endembed %}

{% endblock %}
