{% if section_tag == "header" %}

  <header class="section {{ section_class|join(' ') }}">
    <div class="container">

      {% block header %}{% endblock %}

    </div>
  </header>

{% elseif section_tag == "footer" %}

  <footer class="section {{ section_class|join(' ') }}">
    <div class="container">

      {% block footer %}{% endblock %}

    </div>
  </footer>

{% else %}

  <section class="section {{ section_class|join(' ') }}">
    <div class="container">

      {% block section %}{% endblock %}

    </div>
  </section>

{% endif %}
