{% if menu %}

  <ul class="list-reset flex flex-col lg:flex-row">

    {% for item in menu %}

      <li class="nav-menu-item close-menu">
        <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>

        {% include "components/menu.html.twig" with {
          "menu" : item.get_children
        } %}

      </li>

    {% endfor %}

  </ul>

{% endif %}