{# Default page #}

{% extends "core/base.html.twig" %}

{% block main %}

  {% for post in posts %}

    {% embed "layout/section.html.twig" %}

      {% block section %}
        <a href="{{ post.link }}">
          <h2>{{ post.title }}</h2>
        </a>

      {% endblock %}

    {% endembed %}

  {% endfor %}

{% endblock %}
