{# 404 #}

{% extends "core/base.html.twig" %}

{% block main %}

  <section class="section">
    <div class="container">

      <h1>404</h1>
      <a href="{{ site.link }}">home</a>

    </div>
  </section>

{% endblock %}
