{# About page #}

{% extends "core/base.html.twig" %}

{% set main_class = [] %}

{% block main %}

  <section class="section">
    <div class="container">

      <div id="app"></div>

    </div>
  </section>

{% endblock %}

{% block scripts %}

  <script src="{{ theme.link }}/js/app.js"></script>

{% endblock %}