#page-footer {
  a {
    @apply relative font-sans;
    text-transform: initial;
    &::after {
      @apply bg-transparent w-full absolute block bottom-0 left-0;
      content: '';
      height: 1px;
      transform: translateY(0.05em);
      transition: background $medium ease;
    }
    &:hover {
      &::after {
        @apply bg-black;
      }
    }
  }
}